@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

/* Leaflet CSS import */
@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;

@tailwind utilities;

@layer base {
	:root {
		font-family: Ubuntu, -apple-system, Roboto, Helvetica, sans-serif;
		line-height: 1.5;
		font-weight: 400;
		color-scheme: dark;
		color: rgba(227, 243, 242, 1);
		background-color: #222631;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	* {
		box-sizing: border-box;
	}

	body {
		margin: 0;
		min-width: 100vw;
		min-height: 100vh;
		overflow: hidden;
	}

	#root {
		width: 100vw;
		height: 100vh;
	}
}
